# Git ignore file
# See: https://git-scm.com/docs/gitignore

# OS
.DS_Store

# IDE
.idea/
.vscode/
!/.vscode/extensions.json

# LuaRocks
luarocks/
lua/
lua_modules/
.luarocks/
*.src.rock
*.zip
*.tar.gz

# Temporary Files
/test.lua
